/* Font face sert a rajouter de nouvelle
famille d'écriture qui ne sont pas disponible
Nativement (Sans rien rajouter en plus) */
@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Nabla;
    src: url(../fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);
}
@font-face {
    font-family: minecraft;
    src: url(../fonts/Minecrafter.Reg.ttf);
}
@font-face {
    font-family: doctor;
    src: url(../fonts/Doctor\ Glitch.otf);
}
@font-face {
    font-family: keyboard;
    src: url(../fonts/212\ Keyboard.otf )
}
/* Je prend toute les balises tr puis td puis th et table et je leur donne des propriétés */

tr, td, th, table {
    border: 1px solid red;
    border-radius: 15px;
    border-spacing: 0px;
}

/* Je séléctionne tout les td qui on 
le paramètre colspan=2 dans leur balise*/
tr td[colspan="2"] {
    text-align:center;
}

/* Je choisi le troisième enfant de tr */
tr:nth-child(3) {
    background-color: brown;
}

/* */
.bonjour tr td{
    background-color: aquamarine;
}

/* Je modife le curseur que  
quand la souris passe par dessu */
#animal:hover {
    cursor: pointer;
}

/* Je séléctionne tout les input de 
type submit et de type reset*/
input[type="submit"][value="Submit"], input[type="reset"] {
    font-size: 1.7em;
    border-radius: 25%;
}

#message {
    resize: none;
    /*Je retire la possibilité de pouvoir redéfinir la taille du textearea*/
}

/* Je créer un animation qui ce nomme animationimg au début elle va transform scaleX en -1
puis elle va transform scaleX en 1 et à la fin elle va transform scaleX en -1 */
@keyframes animationimg {
    0% {
        left: 0%;
        transform: scaleX(-1);
        width: 50%;
    }
    50% {
        left: 75px;
        transform: scaleX(1);
        width: 25%;
    }
    100% {
        left: 0%;
        transform: scaleX(-1);
        width: 50%;
    }
}


img {
    position: relative;
    border: 3px dashed gray;
    border-radius: 25px; 
    opacity: 0.6; 
    width: 50%;
    /* height:auto; max-width: 100%;  Je ren mon image recurcive/Responsive*/
    filter: blur(0.5px); /* Je donne un effet de flou */
    animation: animationimg 1.5s ease-in infinite ;
    /* Je dit que l'élément img joue l'animation animationimg qu'elle doit durée 1.5s en 
    fonctionnement en ease-in et elle ce joue un nombre infini de fois */
}

img:hover {
    transform: scaleX(-1);
}

.test {
    color: blue;
}

fieldset {
    width: 10px;
}


#minuteur {    
    letter-spacing: 10px;
    font-size: 9em;
    position: absolute;
    font-family: keyboard;
    color: rgba(0, 0, 0, 0.4);
    background-image: -webkit-gradient(
        linear, 
        left top, 
        right top, 
        color-stop(0, #f22), 
        color-stop(0.15, #f2f), 
        color-stop(0.3, #22f), 
        color-stop(0.45, #2ff), 
        color-stop(0.6, #2f2), 
        color-stop(0.75, #2f2), 
        color-stop(0.9, #ff2), 
        color-stop(1, #f22)
    );
    border-radius: 15px;
    height: 116px;
    left: 50%;
    top: 100px;
    transform: translateX(-61%);
}

input[type='number'] {
    width: 50%;
    font-size: 1.5em; 
    border: none;
    background: none;
    outline: none;
    -moz-appearance: textfield;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    font-size: 2em;
}
form label {
    line-height: 10px;
}